
<h1>Welcome <%= current_user.name %></h1>



<% if rep %>
  You are a rep with <%= @galleries.count %> galleries.
<% else %>
  You are a not a rep and are following <%= @galleries.count %> galleries.
<% end %>

<% if rep %>

<% else %>

<% end %>



    <!-- Page Content -->
    <div id="homePage">
      <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer" style="background-image:url(http://www.chrisspagani.com/abstract/bw-3.jpg)">
            <h1>Welcome <%= current_user.name %></h1>
            <% if rep %>
              <p>Select and Event below to edit or Click to add a new Gallery.</p>
              <p><a class="btn btn-primary btn-large" href="/galleries/new">Add a Gallery</a>
              </p>
            <% else %>
              <p>Take a look at what's going on in your area!</p>
            <% end %>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Featured Galleries</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src= "http://susancorso.com/seedsforsanctuary/wp-content/uploads/2013/04/box_placeholder.jpg" alt="">
                    <div class="caption">
                        <h3><%#= Gallery[0].name %></h3>
                        <p>Basic info for that gallery.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Gallery Profile</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://susancorso.com/seedsforsanctuary/wp-content/uploads/2013/04/box_placeholder.jpg" alt="">
                    <div class="caption">
                        <h3><%#= Gallery[0].name %></h3>
                        <p>Basic info for that gallery.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Gallery Profile</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://susancorso.com/seedsforsanctuary/wp-content/uploads/2013/04/box_placeholder.jpg" alt="">
                    <div class="caption">
                        <h3><%#= Gallery[0].name %></h3>
                        <p>Basic info for that gallery.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Gallery Profile</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://susancorso.com/seedsforsanctuary/wp-content/uploads/2013/04/box_placeholder.jpg" alt="">
                    <div class="caption">
                        <h3><%#= Gallery[0].name %></h3>
                        <p>Basic info for that gallery.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Gallery Profile</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; canvaché 2015</p>
                </div>
            </div>
        </footer>

      </div>
    </div>



