<h1>This is the home page so...</h1>

<h1>why is it populating</h1>

<h3>when I want the damn Profile form to show up</h3>

<h3>so I can input info into my damn galleries model</h3>

<h3>to be populated on the regular visitor home page</h3>

<h1>and not gallery rep home page.</h1>
